
<!-- Footer -->

<section id="footer" class="bg-light">
  <div class="container-fluid">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-6">
        <p class="h5">Quick links</p>
        <ul class="list-unstyled quick-links">
          <li><a href="/">Home <i class="fas fa-angle-right"></i></a></li>
          <li><a href="/about">About Us <i class="fas fa-angle-right"></i></a></li>
          <li><a routerLink="/contact">Contact Us <i class="fas fa-angle-right"></i></a></li>
          <li><a href="/faq">FAQ <i class="fas fa-angle-right"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="h5">Quick links</p>
        <ul class="list-unstyled quick-links">
          <li><a href="./services.html">Services <i class="fas fa-angle-right"></i></a></li>
          <li><a href="javascript:void();">Newsletters <i class="fas fa-angle-right"></i></a></li>
          <li><a href="./gallery.html">Gallery <i class="fas fa-angle-right"></i></a></li>
          <li><a href="./term-of-use.html">Term &amp; Contact <i class="fas fa-angle-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.facebook.com/C%E1%BB%ADa-h%C3%A0ng-ph%E1%BB%A5-t%C3%B9ng-oto-S%C3%A1u-Chi%C3%AAu-640577366114939/"><i class="fab fa-facebook-square"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-flickr"></i></a></li>
          <li class="list-inline-item"><a href="mailto:cuahangsauchieu@gmail.com" ><i class="fa fa-envelope"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-youtube-square"></i></a></li>
        </ul>
      </div>
      <hr/>
    </div>
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-6">
        <ul class="list-unstyled">
          <li><a href="mailto:cuahangsauchieu@gmail.com"><i class="fa fa-envelope"></i>cuahangsauchieu@gmail.com</a></li>
          <li><a href="tel:8438992877"><i class="fa fa-phone-square"></i>843 899-2877</a></li>
			<li><a href="tel:0118438992877"><i class="fa fa-phone-square"></i>(011) 843-899-2877</a></li>
          <li><a href="https://goo.gl/maps/HzZcWfWr18F2"><i class="fa fa-location-arrow"></i>32/309 Dien Bien Phu St., Ward 15, Binh Thanh Dist.</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <ul class="list-unstyled">
          <li><a href="mailto:sauchieuconghoa@gmail.com"><i class="fa fa-envelope"></i>sauchieuconghoa@gmail.com</a></li>
         <li><a href="tel:8438122683"><i class="fa fa-phone-square"></i>(843) 812-683</a></li>
			<li><a href="tel:0118438122683"><i class="fa fa-phone-square"></i>(011-843) 8122-683</a></li>
          <li><a href="https://goo.gl/maps/JAiHnRxFX4z"><i class="fa fa-location-arrow"></i> 305 Cong Hoa St., Ward 13, Tan Binh Dist.</a></li>
        </ul>
      </div>
      <hr/>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <p class="h6 text-center">© All right Reversed. Sau Chieu.</p>
      </div>
      <hr/>
    </div>
  </div>
</section>