<ngb-carousel *ngIf="images" class="carousel">
  <ng-template ngbSlide>
    <img src="assets/images/slide-aboutimage.jpg" alt="Random first slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
        <button type="button" href="#" class="btn btn-outline-danger" ngbButton>Call to Action</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/slide-homeimage.jpg" alt="Random second slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>No mouse events...</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
      <button type="button" href="#" class="btn btn-outline-danger" ngbButton>Call to Action</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/slide-servicesimage.jpg"  alt="Random third slide" class="img-fluid">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
      <button type="button" href="#" class="btn btn-outline-danger" ngbButton>Call to Action</button>
    </div>
  </ng-template>

</ngb-carousel>