<app-carousel></app-carousel>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">About</li>
  </ol>
</nav>
<section class="row main">
    <article class="col-sm-12">
      <h1>About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Mauris non tortor accumsan, dictum lectus non, venenatis ex. In eu velit eu turpis volutpat luctus. Nulla at mi ac erat semper tempor. Phasellus lobortis diam odio, eget maximus nunc suscipit vel. Maecenas quis lectus lacinia, malesuada mi ut, tincidunt nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sed urna mi. Nam sodales finibus nisl, vitae convallis est auctor ut. Mauris id porttitor ex. Aliquam vulputate dolor lorem, sed viverra tellus aliquam nec. Integer cursus cursus risus.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Mauris non tortor accumsan, dictum lectus non, venenatis ex. In eu velit eu turpis volutpat luctus. Nulla at mi ac erat semper tempor. Phasellus lobortis diam odio, eget maximus nunc suscipit vel. Maecenas quis lectus lacinia, malesuada mi ut, tincidunt nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sed urna mi. Nam sodales finibus nisl, vitae convallis est auctor ut. Mauris id porttitor ex. Aliquam vulputate dolor lorem, sed viverra tellus aliquam nec. Integer cursus cursus risus.</p>
    </article>
  </section>
