<div class="container-fluid">
  <section class="contact-content row">
    <div class="col-md-6">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Mauris non tortor accumsan, dictum lectus non, venenatis ex. In eu velit eu turpis volutpat luctus. Nulla at mi ac erat semper tempor. Phasellus lobortis diam odio, eget maximus nunc suscipit vel.</p>
        <h2>Contact Form</h2>
        <form>
          <label>Name:</label>
          <input type="text" name="name" value="">
          <br>
          <br>
          <label>Email:</label>
          <input type="text" name="email" value="">
          <br>
          <br>
          <label>Comments:</label>
          <textarea name="comment" rows="5" cols="40"></textarea>
          <br>
          <br>
          <input type="submit" name="submit" value="Submit">
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <h2>Facebook Page</h2>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FC%25E1%25BB%25ADa-h%25C3%25A0ng-ph%25E1%25BB%25A5-t%25C3%25B9ng-oto-S%25C3%25A1u-Chi%25C3%25AAu-640577366114939%2F&tabs=timeline&width=450&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="450" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </section>
</div>