
<div class="container-fluid">
  <section class="contact-content row">
    <div class="col-md-6">
      <div class="col-md-12">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Mauris non tortor accumsan, dictum lectus non, venenatis ex. In eu velit eu turpis volutpat luctus. Nulla at mi ac erat semper tempor. Phasellus lobortis diam odio, eget maximus nunc suscipit vel.</p>
        <h2>Contact Form</h2>
        <form [formGroup]="contactForm" method="POST" (ngSubmit)="onClickSubmit()" >
            <div class="form-group">
               
                <label for="name">Name:</label>
                <input id="name" name="name" formControlName="name" class="form-control" type="text" >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)">
                  <small *ngIf="contactForm.controls['email'].errors.required" class="text-danger">
                  Email is required.
                </small>
                <small *ngIf="contactForm.controls['email'].errors.email" class="text-danger">
                    Email is invalid.
                  </small>
              </div>
                <input type="text" name="email" id="email" class="form-control" formControlName="email" [class.is-invalid]="contactForm.get('email').invalid && contactForm.get('email').touched">
                

            </div>
           
            
            <div class="form-group">
                <label for="comment">Comments:</label>
                <div *ngIf="contactForm.controls['comment'].invalid && (contactForm.controls['comment'].dirty || contactForm.controls['comment'].touched)">
                  <small *ngIf="contactForm.controls['comment'].errors.required" class="text-danger">
                  Comments are required.
                </small>
              </div>
                <textarea id="comment" name="comment" rows="5" cols="40" class="form-control" formControlName="comment" [class.is-invalid]="contactForm.get('comment').invalid && contactForm.get('comment').touched" ></textarea>
            </div>
            
        
            <button [disabled]="contactForm.invalid" type="submit" class="btn btn-danger" >Submit</button>

          </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-12 justify-content-center">
        <h2>Facebook Page</h2>
       
          <app-fb></app-fb>
        
        

      </div>
    </div>
  </section>
</div>