<app-carousel></app-carousel>
  <section class="row">
  <article class="col-md-12">
  <h1>Welcome!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Mauris non tortor accumsan, dictum lectus non, venenatis ex. In eu velit eu turpis volutpat luctus. Nulla at mi ac erat semper tempor. Phasellus lobortis diam odio, eget maximus nunc suscipit vel. Maecenas quis lectus lacinia, malesuada mi ut, tincidunt nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum sed urna mi. Nam sodales finibus nisl, vitae convallis est auctor ut. Mauris id porttitor ex. Aliquam vulputate dolor lorem, sed viverra tellus aliquam nec. Integer cursus cursus risus.</p>
      </article>
  </section>
  <section class="row">
    <div class="col-md-4 col-sm-12 my-2 ">
      <div class="col-md-12 border-around"> <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/BMW.svg" class="img-responsive icons" alt="BMW Logo." style="width:2.5em">
        <h2>BMW</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. <a href="#">More</a></p>
      </div>
    </div>
    <div class="col-md-4 col-ms-12 my-2 ">
      <div class="col-md-12 border-around"> <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/Audi-Logo_2016.svg" class="img-responsive icons" alt="Audi Logo." style="width:5em">
        <h2>Audi</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">More</a></p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 my-2">
      <div class="col-md-12 border-around"> <img src="https://upload.wikimedia.org/wikipedia/commons/9/9e/Mercedes-Benz_Logo_2010.svg" class="img-responsive icons" alt="Mercedes Logo." style="width:7.5em">
        <h2>Mercedes</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere, nibh lobortis facilisis mollis, orci nisi interdum est, sed pellentesque orci ligula non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">More</a></p>
      </div>
    </div>
   
  </section> 